<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- Add these repos to the list of available repositories -->
	<add key="NuGet" value="https://api.nuget.org/v3/index.json" />
	<add key="MyPrivateFeed" value="https://pkgs.dev.azure.com/WholeSoftware/_packaging/WholeschoolPackages/nuget/v3/index.json" />
	</packageSources>
	<activePackageSource>
		<add key="All" value="(Aggregate source)"  />
	</activePackageSource>
</configuration>